<div *ngIf="contact" class="bg-light">
  <div class="container page-section">
    <div class="row">
      <div class="col-sm-12 text-center mb-5 ">
        <h1 class="section-heading text-uppercase">{{contact['titre'+translate.getDefaultLang()]}}</h1>
      </div>
      <div class="col-sm-12 row">
        <h2 class="section-heading-small col-sm-12">{{'contact.address.title' | translate}}</h2>
        <address class="col-sm-12">
          Impasse Hubert Goffin 171 <br/>
          4000 Liège
          {{'contact.address.country' | translate}}
        </address>
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d10119.370678820691!2d5.528208!3d50.648613!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47c0fbcbdcd15395%3A0x1b67c34d49186275!2sRue%20Hubert%20Goffin%20171%2C%204000%20Li%C3%A8ge%2C%20Belgique!5e0!3m2!1sfr!2sus!4v1581619427130!5m2!1sfr!2sus" width="1500" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
      </div>
    </div>
  </div>
  <div class="bg-dark text-white">
    <div class="container page-section">
      <div class="row text-right">
        <h2 class="section-heading-small col-sm-12">{{'contact.opening.title' | translate}}</h2>
          <h3 class="col-sm-12 section-subheading mb-5">{{'contact.opening.context' | translate}}</h3>
          <div class="col-sm-12" style="line-height: 2em;">
            {{'contact.opening.monday' | translate}}: {{'contact.opening.appointment' | translate}}<br/>
            {{'contact.opening.tuesday' | translate}}: {{'contact.opening.appointment' | translate}}<br/>
            {{'contact.opening.wednesday' | translate}}: {{'contact.opening.appointment' | translate}}<br/>
            {{'contact.opening.thursday' | translate}}: {{'contact.opening.appointment' | translate}}<br/>
            {{'contact.opening.friday' | translate}}: {{'contact.opening.from' | translate}} {{'contact.opening.openingHour' | translate}} {{'contact.opening.to' | translate}} {{'contact.opening.closingHour' | translate}}<br/>
            {{'contact.opening.saturday' | translate}}: {{'contact.opening.from' | translate}} {{'contact.opening.openingHour' | translate}} {{'contact.opening.to' | translate}} {{'contact.opening.closingHour' | translate}}<br/>
            {{'contact.opening.sunday' | translate}}: {{'contact.opening.from' | translate}} {{'contact.opening.openingHour' | translate}} {{'contact.opening.to' | translate}} {{'contact.opening.closingHour' | translate}}<br/>
          </div>
      </div>
    </div>
  </div>
  <div class="bg-light">
    <div class="container page-section">
      <div class="row">
        <h2 class="section-heading-small col-sm-12">{{'contact.form.title' | translate}}</h2>
        <form (ngSubmit)="onSubmit(f)" #f="ngForm" class="form-group col-sm-12">
          <div clas="col-sm-12 ">
            <label for="name">{{'contact.form.name' | translate}} <span class="text-yellow">*</span></label>
            <input type="text" name="name" id="name" class="form-control required col-sm-6" ngModel required/>
          </div>
          <div clas="col-sm-12">
            <label for="email">{{'contact.form.email' | translate}} <span class="text-yellow">*</span></label>
            <input type="email" name="email" id="email" class="form-control required col-sm-6" ngModel required email/>
          </div>
          <div clas="col-sm-12">
            <label for="subject">{{'contact.form.subject' | translate}} <span class="text-yellow">*</span></label>
            <input type="text" name="subject" id="subject" class="form-control col-sm-6" ngModel required/>
          </div>
          <div clas="col-sm-12">
            <label for="message">{{'contact.form.message' | translate}} <span class="text-yellow">*</span></label>
            <textarea name="message" id="message" class="form-control col-sm-6" ngModel required></textarea>
          </div>
            <button class="btn btn-form mt-3" type="submit" [disabled]="f.invalid">{{'contact.form.validate' | translate}}</button>
          <span class="sended" *ngIf="formSended == true">{{'contact.form.sended' | translate}}</span>
        </form>
      </div>
    </div>
  </div>
</div>
