<div class="row" >
  <div class="col-sm-6 portfolio-item" *ngFor="let oeuvre of oeuvres">
    <a class="portfolio-link"  [routerLink]="['/oeuvres/details/',oeuvre.id]">
      <div class="portfolio-hover">
        <div class="portfolio-hover-content">
          <i class="fas fa-plus fa-3x"></i>
        </div>
      </div>
      <img class="img-fluid" src="assets/img/oeuvres/{{oeuvre.illustration}}" alt="">
    </a>
    <div class="portfolio-caption">
      <h4>{{oeuvre['nom'+translate.getDefaultLang()]}}</h4>
      <p class="text-muted" *ngIf="oeuvre['description'+translate.getDefaultLang()]; else pEmpty" [innerHTML]="oeuvre['description'+translate.getDefaultLang()] | slice:0:50 "></p>...
      <ng-template #pEmpty><p class="text-muted">{{'noDescription' | translate}}</p></ng-template>
    </div>
  </div>
</div>
