<!-- Header -->
<header class="masthead">
  <!--<div class="container">
    <div class="intro-text">
      <div class="intro-lead-in">Welcome To Our Studio!</div>
      <div class="intro-heading text-uppercase">It's Nice To Meet You</div>
      <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" href="#services">Tell Me More</a>
    </div>
  </div>-->
  <ngb-carousel>
    <ng-template ngbSlide  *ngFor="let slider of sliders">
      <img src="assets/img/slider/{{slider.image}}" alt="Random slide" class="carouselImage">
      <div class="carousel-caption">
        <h3>{{slider["titre"+translate.getDefaultLang()]}}</h3>
        <p>{{slider["contenu"+translate.getDefaultLang()]}}</p>
      </div>
    </ng-template>
  </ngb-carousel>

</header>
