<app-slider></app-slider>

<!-- Expo en cours -->
<section class="bg-light page-section" *ngIf="expoEnCours">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading text-uppercase">{{'home.exhibitions.current.title' | translate}}</h2>
      </div>
    </div>
    <div class="offset-sm-3 col-sm-6">
      <div class="container hover-base">
        <a class="portfolio-link" [routerLink]="['/exhibitions/details/',exposition.id]">
          <div class="hoverBloc portfolio-hover"><div class="portfolio-hover-content-exhibition"><i class="fas fa-plus fa-3x"></i></div></div>
          <img class="img-fluid" src="assets/img/expositions/{{exposition.illustration}}" alt="expo illu">
        </a>
      </div>
    </div>
  </div>
</section>


<!-- Articles -->
<section class="bg-light page-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading text-uppercase">{{'home.articles.title' | translate}}</h2>
        <h3 class="section-subheading text-muted">{{'home.articles.content' | translate}}</h3>
      </div>
    </div>
    <app-articles-list pagination="true"></app-articles-list>
  </div>
</section>

<!-- Oeuvres -->
<section class="bg-dark page-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading text-uppercase text-white">{{'home.artworks.title' | translate}}</h2>
        <h3 class="section-subheading text-muted">{{'home.artworks.content' | translate}}</h3>
      </div>
    </div>
    <app-oeuvres-list pagination="true"></app-oeuvres-list>
  </div>
</section>

